.app-header {
    height: 10vh;
    background-color: $clr7;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & .logo {
        text-transform: uppercase;
    }
    & .nav {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & a {
            color: $clr2;
        }
    }
}
